@media (max-width: 1024px) {
  .footer-section {
    width: 322%;
    padding-left: 80px !important;
    padding-right: 80px !important;
  }

  .footer-heading {
    padding-top: 170px;
    padding-bottom: 130px;
    font-size: 110px !important;
  }

  .footer-grid {
    grid-template-columns: 1fr !important;
    gap: 50px !important;
  }

  .footer-input,
  .footer-textarea,
  select {
    font-size: 45px !important;
  }

  label {
    font-size: 69px !important;
  }

  .footer-btn {
    width: 520px !important;
    height: 140px !important;
    font-size: 65px !important;
    margin-top: 50px;
    margin-bottom: 100px;
  }
  .footer-btn-container {
    display: flex !important;
    justify-content: center !important;
    width: 190% !important;
  }
  .footer-label {
    font-size: 71px !important;
  }

  .footer-input {
    font-size: 73px !important;
    height: 150px !important;
    width: 180%;
  }

  .footer-select {
    font-size: 73px !important;
    width: 70%;
    height: 180px !important;
  }
  .footer-select option {
    font-size: 17px !important;
    width: 40%;
  }
  .footer-textarea {
    font-size: 69px !important;
    height: 170px !important;
    width: 180%;
  }
  .purpose-container {
    margin-top: 50px !important;
    margin-bottom: 10px;
  }
  .purpose-label {
    display: block !important;
    margin-bottom: 0px !important;
  }
  .dropdown-icon {
    font-size: 100px;
  }
}
@media (max-width: 991px) {
  .footer-section {
    width: 322%;
    padding-left: 80px !important;
    padding-right: 80px !important;
  }

  .footer-heading {
    padding-top: 120px;
    font-size: 80px !important;
  }

  .footer-grid {
    grid-template-columns: 1fr !important;
    gap: 50px !important;
  }

  .footer-input,
  .footer-textarea,
  select {
    font-size: 45px !important;
  }

  label {
    font-size: 56px !important;
  }

  .footer-btn {
    width: 450px !important;
    height: 130px !important;
    font-size: 58px !important;
    margin-top: 50px;
    margin-bottom: 100px;
  }
  .footer-btn-container {
    display: flex !important;
    justify-content: center !important;
    width: 170% !important;
  }
  .footer-label {
    font-size: 56px !important;
  }

  .footer-input {
    font-size: 56px !important;
    height: 150px !important;
    width: 130%;
  }

  .footer-select {
    font-size: 56px !important;
    width: 40%;
    height: 150px !important;
  }
  .footer-select option {
    font-size: 18px !important;
  }

  .footer-textarea {
    font-size: 56px !important;
    height: 170px !important;
    width: 130%;
  }
  .purpose-container {
    margin-top: 50px !important;
    margin-bottom: 10px;
  }
  .purpose-label {
    display: block !important;
    margin-bottom: 70px !important;
  }
  .dropdown-icon {
    font-size: 100px;
  }
}
@media (max-width: 768px) {
  .footer-section {
    width: 305%;
    padding-left: 80px !important;
    padding-right: 80px !important;
  }

  .footer-heading {
    padding-top: 120px;
    font-size: 80px !important;
  }

  .footer-grid {
    grid-template-columns: 1fr !important;
    gap: 50px !important;
  }

  .footer-input,
  .footer-textarea,
  select {
    font-size: 45px !important;
  }

  label {
    font-size: 56px !important;
  }

  .footer-btn {
    width: 450px !important;
    height: 130px !important;
    font-size: 58px !important;
    margin-top: 50px;
    margin-bottom: 100px;
  }
  .footer-btn-container {
    display: flex !important;
    justify-content: center !important;
    width: 140% !important;
  }
  .footer-label {
    font-size: 56px !important;
  }

  .footer-input {
    font-size: 56px !important;
    height: 150px !important;
    width: 130%;
  }

  .footer-select {
    font-size: 56px !important;
    width: 40%;
    height: 150px !important;
  }
  .footer-select option {
    font-size: 18px !important;
  }

  .footer-textarea {
    font-size: 56px !important;
    height: 170px !important;
    width: 130%;
  }
  .purpose-container {
    margin-top: 50px !important;
    margin-bottom: 10px;
  }
  .purpose-label {
    display: block !important;
    margin-bottom: 70px !important;
  }
  .dropdown-icon {
    font-size: 80px;
  }
}
@media (max-width: 576px) {
  .footer-section {
    width: 410%;
    padding-left: 70px !important;
    padding-right: 70px !important;
  }

  .footer-heading {
    padding-top: 130px;
    font-size: 78px !important;
    padding-bottom: 70px;
  }

  .footer-input,
  .footer-textarea,
  select {
    font-size: 42px !important;
  }

  label {
    font-size: 53px !important;
  }

  .footer-btn {
    width: 350px !important;
    height: 90px !important;
    font-size: 45px !important;
  }

  .footer-label {
    font-size: 53px !important;
  }

  .footer-input {
    font-size: 56px !important;
    height: 70px !important;
  }

  .footer-select {
    font-size: 56px !important;
    width: 40%;
    height: 150px !important;
  }
  .footer-select option {
    font-size: 18px !important;
  }
  .footer-textarea {
    font-size: 56px !important;
    height: 150px !important;
  }
  .dropdown-icon {
    font-size: 80px;
  }
}

@media (max-width: 430px) {
  .footer-section {
    width: 410%;
    padding-left: 70px !important;
    padding-right: 70px !important;
  }

  .footer-heading {
    padding-top: 190px;
    font-size: 78px !important;
    padding-bottom: 120px;
  }

  .footer-input,
  .footer-textarea,
  select {
    font-size: 42px !important;
  }

  label {
    font-size: 67px !important;
  }

  .footer-btn {
    width: 400px !important;
    height: 110px !important;
    font-size: 68px !important;
  }
  .footer-btn-container {
    display: flex !important;
    justify-content: center !important;
    width: 100% !important;
  }
  .footer-label {
    font-size: 67px !important;
  }

  .footer-input {
    font-size: 67px !important;
    height: 150px !important;
  }

  .footer-select {
    font-size: 67px !important;
    width: 40%;
    height: 150px !important;
  }
  .footer-select option {
    font-size: 18px !important;
  }

  .footer-textarea {
    font-size: 67px !important;
    height: 150px !important;
  }
  .dropdown-icon {
    font-size: 60px !important;
  }
}

@media (max-width: 376px) {
  .footer-section {
    width: 400%;
  }
  .footer-heading {
    padding-top: 90px;
    font-size: 70px !important;
  }

  .footer-input,
  .footer-textarea,
  select {
    font-size: 56px !important;
  }

  label {
    margin-bottom: 35px;
    font-size: 45px !important;
  }

  .footer-btn {
    width: 320px !important;
    height: 85px !important;
    font-size: 40px !important;
  }

  .footer-label {
    font-size: 45px !important;
  }

  .footer-input {
    font-size: 56px !important;
    height: 70px !important;
  }

  .footer-select {
    font-size: 54px !important;
    width: 40%;
    height: 150px !important;
  }
  .footer-select option {
    font-size: 18px !important;
  }

  .footer-textarea {
    font-size: 56px !important;
    height: 150px !important;
  }
  .dropdown-icon {
    font-size: 60px !important;
  }
}
